.competitions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    p {
        background-color: #ECECEC;
        text-align: center;
        max-width: 60vw;
        font-size: 2em;
        font-family: "Oxygen", sans-serif;
    }

    h1 {
        font-family: "Nexa Bold", sans-serif;
    }

    hr {
        display: block;
        border: 1px solid #292929;
        width: 30%;
        margin-top: 0px;
    }
}