* {
    font-family: 'Oxygen', 'Nexa Bold',sans-serif;
    /* background-color: #E0E1DD;  */
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    height: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding-left: 40px;
    background-color: #303030;;
}

.brand-logo-name > a {
    color: white;
    font-weight: bolder;
}

.page1 {
    background-color: #E0E1DD;
    padding: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.monitor {
    height: 50%;
    position: relative;
    left: -4%;
}

.monitor img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    left: 5%;
    width: 50%;
}

.btn-primary {
    border: none;
    border-radius: 20;
    background-image: linear-gradient(#5A786F, #8CA88E);
    position: absolute;
    width: 60%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#btn-signin{
    border: none;
    border-radius: 10px;
    margin-left: 78%;
    align-self: auto;
    background-image: linear-gradient(180deg, #5A786F 0%, #5A786F 0.01%);
    width: 169px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    font-size: 200%;
    font-weight: bold;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    letter-spacing: 0.232836px;
    color: #5A786F;
}

.page2 {
    background-image: url(images/green_bg.png);
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page2 > img {
    width: 35%;
    height: 60%;
    margin: 5%;
}

.main-nav {
    font-family: 'Oxygen', sans-serif;
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#bubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#horiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#access, #reliable, #collaborate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
}

.page2 p {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    width: 35%;
    background-color: transparent;
    margin-bottom: 0px;
    margin-left: 15%;
}

.rcorners1, .rcorners2, .rcorners3 {
    font-family: 'Oxygen', sans-serif;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 3%;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rcorners1, .rcorners3 {
    width: 100%;
}

.rcorners2 {
    width: 80%;
}

.footer {
    width: 100%;
    padding: 1%;
    height: 20%;
    background-color: #303030;
    color: white;
    text-align: left;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    width: 10%;
    margin: 0;
}

.row {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column2 {
    width: 33%;
    text-align: left;
    font-size: small;
    padding: 1%;
}

.column2 > a{
    color: white;
    font-size: 1em;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 450px) {

 .page1 {
     flex-direction: column;
     width: 100%;
     min-height: 110vw;
     margin: 0;
     padding: 3%;

     .monitor {
         display: none;
     }

     .container {
         padding: 0;
         margin: 0;
         font-size: 0.8em;
         width: 60%;
     }

     button {
         width: 75%;
         font-size: 0.5em;
     }
 }

 .page2 {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 100vw;

    p {
        width: 70%;
    }

    img {
        display: none;
    }

    #bubbles {
        flex-direction: column;
        align-items: center;
        width: 75%;
    }

    #reliable, #access, #collaborate {
        align-items: center;
    }

    .rcorners2 {
        width: 100%;
    }

    #horiz {
        flex-direction: column;
    }
  }

  .footer {
      flex-direction: column;
      align-items: center;
      padding-top: 3%;
      padding-bottom: 3%;

      br {
          height: 0px;
      }
      
      .column {
          margin-right: 30%;
      }

      .row {
        flex-direction: column;
      }
  }

  #mobile {
      display: flex;
  }
}