* {
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    font-family: 'Oxygen', sans-serif;
    background-color: #292929;
    display: flex;
    justify-content: space-between;
}

#title {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
