.feed__modal{
    &__background{
        background-color: hsla(0%,0,0,0);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    &__form{
        @mixin wrapping{
            border: 1px solid #292929;
            border-radius: 20px;
            padding:25px;
            background-color: #F2F2F2;
            box-shadow: inset 0px -1px 1px #929290;
        }//round-wrapping container
        z-index: 1;
        position: absolute;
        width:735px;
        
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        &__close-button{
            
            transform: translateX(-50%) translateY(50%);
            border-radius: 100%;
            background: rgba(57, 100, 57, 0.979);
            border:none;
            color: white;
            
            
        }
        &__title{
            @include wrapping();
            text-align: center;
            font-family: "Nexa", sans-serif;
            font-size: 20px;
            font-weight: bold;
            color:black;
        }
        &__main{
            @include wrapping();
            height: fit-content;
            &--ini{
                
                display: flex;
                flex-direction: row;
                height: fit-content;
                &__idea,&__file,&__article{
                    @include wrapping();
                    border:none;
                    flex-basis: 33%;
                    margin:10px;
                    display:flex;
                    padding:auto;
                    flex-direction: column;
                    span{
                        display: block;
                        margin:auto;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        color: rgba(57, 100, 57, 0.979);
                        height: 100%;
                        
                    }

                    svg {
                        height: 50%;
                        margin: 15%;
                    }
                }
            }
            .input{
                &--ticker,&--idea,&--insight,&--title,&--body{
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border-radius: 20px;
                    border:none;
                    margin:10px;
                }
                &--idea{
                    height:300px;
                    text-align: start;
                    
                }
                &--submit{
                    margin-left:auto;
                    background-image: linear-gradient(#5A786F, #8CA88E);
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    border-width: 0px;
                }
                &--toggle-and-submit{
                    display: flex;
                    flex-direction: row;
                }
                &--error{
                    color:red;
                    background: none;
                }
                
            }
            .inactive{
                color:grey;
            }
            .form__switch{
                margin: auto 15px;
                background:green;
                height:20px;
                width:50px;
                border-radius: 5px;
                &__slider{
                    background:white;
                    height: 30px;
                    width:30px;
                    border-radius: 100%;
                    transform: translateY(-5px) translateX(-10px);
                    border: green 1px solid;
                    transition: ease-in 0.5s;
                }
                .active{
                    transform: translateY(-5px) translateX(30px);
                }
                
            }
            
        }
    }
}