.feed__post{
  margin: auto;
  display:flex;
  
  @mixin wrapping{
    
    border-radius: 20px;
    padding:25px;
    background-color: #F8F8F8;
    box-shadow: inset 0px -1px 1px #929290;
  }//round-wrapping container
  @mixin text($type){
    background:none;
    color:black;
    font-family: sans-serif;
    @if ($type==info){
      font-family: 'Oxygen', sans-serif;
    }@else{
      font-family: "Nexa", sans-serif;
    }
    @if ($type==ticker){
      font-size: 20px;
      font-weight: bold;
      
    } @else if ($type==company){
      font-size: 14px;
      font-weight: bold;
    } @else if ($type==title){
      font-size: 14px;
      font-weight: bold;
    } @else if ($type==info){
      font-size: 14px;
    }

  }
  &__left{
    @include wrapping;    
    height: fit-content;
    flex-basis: 24%;
    @mixin bubble{
      color: white;
      width: fit-content;
      padding: 1px 10px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
      margin-top:20px;
    }//applied for both sell and buy bubble
    & p{
      margin-bottom: 0px;
    }
    .bubble{
      &--buy{
        @include bubble;
        background-color: #5A786F;
      }
      &--sell{
        @include bubble;
        background-color: #936262;
      }
    }//specific selectors for sell/buy bubble
    .ticker{
      @include text(ticker);
    }
    .company{
      @include text(company);
    }
  }

  &__right{
    @include wrapping;  
    flex-basis: 75%;
    display: flex;
    float: right;
    margin-left: auto;
    .interaction-stat{
      flex-basis: 15%;
    }
    .post-title{
      @include text(title);
    }
    .info{
      @include text(info);
    }
  }

}