.feed__post{
  border: 1px solid black;
  display:flex;
  gap:22px;
  @mixin wrapping{
    border: 1px groove gray;
    border-radius: 20px;
    padding:25px;
  }//round-wrapping container
  &__left{
    @include wrapping;    
    flex-basis: 20%;
    @mixin bubble{
      color: white;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
    }//applied for both sell and buy bubble
    .bubble{
      &--buy{
        @include bubble;
        background-color: #5A786F;
      }
      &--sell{
        @include bubble;
        background-color: #936262;
      }
    }//specific selectors for sell/buy bubble
  }

  &__right{
    @include wrapping;  
    
    flex-basis: auto;
  }

}