.feed__post{
  display:flex;
  flex-direction: row-reverse;;
  @mixin wrapping{
    border-radius: 20px;
    padding:25px;
    background-color: white;
    box-shadow: inset 0px -1px 1px #929290;
  }//round-wrapping container
  @mixin text($type){
    background:none;
    color:black;
    font-family: sans-serif;
    @if ($type==info){
      font-family: 'Oxygen', sans-serif;
    }@else{
      font-family: "Nexa", sans-serif;
    }
    @if ($type==ticker){
      font-size: 20px;
      font-weight: bold;
      
    } @else if ($type==report){
      font-size: 20px;
      font-weight: bold;
    } @else if ($type==article){
      font-size: 20px;
      font-weight: bold;
    } @else if ($type==company){
      font-size: 14px;
      font-weight: bold;
    } @else if ($type==topics){
      font-size: 14px;
      font-weight: bold;
    } @else if ($type==title){
      font-size: 14px;
      font-weight: bold;
    } @else if ($type==info){
      font-size: 14px;
    } @else if ($type==comment){
      font-size: 14px;
    } @else if ($type==price-change){
      font-size: 14px;
    }

  }
  &__left{
    @include wrapping;    
    height: fit-content;
    flex-basis: 24%;
    max-width: 24%;
    word-wrap: break-word;
    @mixin bubble{
      color: white;
      width: fit-content;
      padding: 1px 10px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
      margin-top: 2px;
    }//applied for both sell and buy bubble
    & p{
      margin-bottom: 0px;
      
    }
    .bubble{
      &--buy{
        @include bubble;
        background-color: #5A786F;
      }
      &--sell{
        @include bubble;
        background-color: #936262;
      }
    }//specific selectors for sell/buy bubble
    .ticker{
      @include text(ticker);
    }
    .company{
      @include text(company);
    }
    .price-change{
      @include text(price-change);
      &--positive{
        color:green;
      }
      &--negative{
        color:red;
      }
    }
    .article{
      @include text(article)
    }
    .report{
      @include text(report)
    }
    .topics{
      @include text(topics)
    }
  }

  &__right{
    &__content{
      @include wrapping;  
      display: flex;
      .interaction-stat{
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        min-width: 40px;
        .line{
          float:right;
          span {
            margin-right: 3px;
          }
          *{
            color:black;
          
          }
        }
        .liked{
          *{
            color:blue!important;
          }
        }
      }
      .post-title{
        @include text(title);
        margin-left: 7px;
      }
      .info{
        @include text(info);
        max-height: 300px;
        overflow: hidden;
        margin-left: 7px;
      }
    }
    &__comment{

      a {
        text-decoration: none;
      }
      
      @include wrapping;  
      margin-top: 7px;
      .comment-toggle{
        text-align: center;
        @include text(comment);
        margin-bottom: 0px;
        text-decoration: underline;
      }
      padding: 10px;
      &__content{
        @include text(comment);
        margin-bottom: 3px;
      }
      &__author{
        @include text(comment);
        font-weight: bold;
      }

    }
    
    flex-basis: 74%;
    display: flex;
    
    margin-left: auto;
    flex-direction: column;
  }

  .username {
    background-color: white;
    font-size: 15px;
    font-weight: normal;
    margin-top: 3px;
  }

  #date {
    font-weight: normal;
    background-color: white;
    font-size: 10px;
    margin-bottom: 0px;
    position: relative;
    top: -3px;
  }

  #comment-date{
    font-weight: normal;
    background-color: white;
    font-size: 10px;
    margin-bottom: 0px;
    position: relative;
    top: -6px;
  }
}