
.header {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-top: 5vh;
}

.image-box{
  .profile-picture{
    height: 196px;
    width: 196px;
    border-radius: 20px;
  }

  .edit-button{
    display: block;
    height: 35px;
    width: 35px;
    margin-left: 175px;
    margin-top: -210px;
  }
}

.user-following {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: 0px;

  .user-name{
    font-size: 50px;
    background-color: transparent;
    margin-bottom: 0px;
  }

  .user-info{
    padding: 20px;
    border: 2px solid black;
    background-color:#E0E1DD;
    border-color: transparent;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
  }
}

.bio{
  margin-left: 12%;
  margin-top: 1%;
  margin-bottom: 3%;
  border-radius: 10px;
  text-align: center;
  width: 60vw;

  &::placeholder{
    color: black;
  }

  .form-control{
    background-image: linear-gradient(#5a786fad, #8ca88e9d);
    border: 0px;
    font-weight: 400;
    color: black;
    min-height: 70px;
  }

  .form-control::after{
    color: black;
  }

}

.upload-button{
  display: block;
  height: 40px;
  width: 100px;
  margin-left: 135px;
  margin-top: -100px;
}

.follow-button{
  display: block;
  height: 40px;
  width: 80px;
  margin-left: 135px;
  margin-top: -150px;
}

.unfollow-button{
  display: block;
  height: 40px;
  width: 100px;
  margin-left: 135px;
  margin-top: -150px;
}

.profile-fullPage{
  .feed__post{
    max-width: 60vw;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 1%;
  }
}


.button {
  background-color: #008cba;
  font-size: 12px 28px;
  border-radius: 4px;
  color: white;
  border: 2px #008cba;
  width: 100px;
  margin-top: 45px;
}


p {
  background-color: #d1d3df;
}