* {
    font-family: 'Oxygen',sans-serif;
    /* background-color: #E0E1DD;  */
}

html {
    box-sizing: border-box;
}

.spinner{
    margin-left:40%;
    
}
#sign-up {
    display: flex;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    min-height: 80vh;
    position: relative;

    #modal-title {
        width: 123px;
        height: 39px;
        left: 907px;
        top: -100px;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        color: black;
    }
}

#close-button {
    position: absolute;
    overflow-wrap: break-word;
    left: -20px;
    top: -20px;
    padding-left: 15px;
    font-size: 30px;
    height: 48px;
    width: 48px;
    background-color:#5A786F;
    color: #ffffff;
    border: 0;
    border-radius: 40px;
    display: flex;
    align-content: center;
}


#sign-up > p {
    width: 716px;
    height: 68px;

    background: #F2F2F2;
    border: 1px solid #292929;
    border-radius: 20px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#first-to-know {
    top: 545px;
    width: 335px;
    height: 25px;
    left: 801px;
    // -family: 'Oxygen';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

form {
    width: 716px;
    height: 100%;

    background: #F2F2F2;
    border: 1px solid #292929;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 500px;
}

#signUpBtn{
    flex: auto;
    left: 180px;
    top: 87%;
    width: 141px;
    height: 48px;
    background: linear-gradient(180deg, #5A786F 0%, #8CA88E 100%);
}

.signUp__modal{
    &__background{
        background-color: hsla(0%,0,0,0);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    &__form{
        @mixin wrapping{
            border: 1px solid #292929;
            border-radius: 20px;
            padding:25px;
            background-color: #F2F2F2;
            box-shadow: inset 0px -1px 1px #929290;
        }//round-wrapping container
        z-index: 1;
        position: absolute;
        width:600px;
        
        top: 50%;
        left: 30%;
        transform: translateX(-80%) translateY(-50%);
        &__close-button{
            
            transform: translateX(-50%) translateY(50%);
            border-radius: 100%;
            background: rgb(57, 100, 57);
            border:none;
            color: white;
            min-width: 30px;
            min-height: 30px;
            
        }
        &__title{
            @include wrapping();
            text-align: center;
            font-family: "Nexa", sans-serif;
            font-size: 20px;
            font-weight: bold;
            color:black;
        }
        &__main{
            @include wrapping();
            height: fit-content;
            display: flex;
            flex-direction: row; 
        
            &__ind,&__org{
                @include wrapping();
                border: none;
                flex-basis: 50%;
                margin:10px;
                display:flex;
                padding:auto;
                flex-direction: column;
                align-items: center;
                span {
                    display: block;
                    margin:auto;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    color: rgb(57, 100, 57);
                    height: 100%;
                    text-align: center;
                }

                svg {
                    height: 50%;
                    margin: 15%;
                    color: rgb(57, 100, 57);
                }
            }
            
        }
    }
}