:focus {outline:0 !important;}

html {
  height: 100%;
}

body {
  background-image: url(images/green_bg.png);
  background-color: #E0E1DD;
  background-size: auto 100%;
  height: auto;
}

.bgcolor {
  // background-color: #E0E1DD;
  // background-color: rgb(221, 221, 221);
  height: 100%;
  width: 100%;
}

.graph {
  padding: 25px;
}

.singlepost {
  // border: 2px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 700px;
  margin: auto;
  margin-top: 7%;
  border-radius: 20px;
}

.back-button {
  width: 200px;
  margin-left: 20vw;
  margin-top: 1%;
}

.header {
  height: auto;
  padding: 25px;
  font-weight: bold;

  h3 {
    margin: 1%;
    color: black;
    font-size: 2em;
  }
}

.ticker-post {
  margin-top: 20px;
  font-size: 22px;
}

.positive-percent {
  color: green;
}

.negative-percent {
  color: red
}

.description {
  padding: 25px;
}

.percent {
  display: flex;
}

.comment {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: white;
  text-align: center;
  width: 700px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 20px;

  a {
    color: black;
    text-decoration: none;
  }
}

.comments {
  display: flex;
}

.input {
  border-radius: 45;
  width: 87%;
}

.addComment {
  margin: 20px;
  
}

.listOfComments {
  margin: 20px;
  width: auto;
  list-style-type: none;
  background-color: #E0E1DD; //change to background light green
  border-radius: 20px;
  padding: 28px;
}

.addButton {
  background-color: '#5A786F';
  color: 'white';
  margin-left: 10;
  border-radius:20;
  width: 'auto'
}

.bubble--buy{
  background-color: #5A786F;
  color: white;
  width: fit-content;
  padding: 1px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

.bubble--sell{
  background-color: #936262;
  color: white;
  width: fit-content;
  padding: 1px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

.username{
  font-weight: bolder;
}