.graph {
  // padding: 15px;
}

.header {
  height: auto;
  padding: 25px;
  font-weight: bold;  
}

.ticker-post {
  margin-top: 20px;
  font-size: 28px;
}

.percentage-post {
  color: green;
}

.description {
  padding: 25px;
}

.percent {
  display: flex;
}

.comment {
  padding: 25px;
}