@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    font-family: 'Oxygen', sans-serif;
}

.profile-box {
    font-family: 'Oxygen', sans-serif;
    display: block;
	width: auto;
	height: 100%;
	padding: 10px;
    margin: 50px;
	background-color: #E0E0E0;
	box-shadow: 0 0 50px rgba(0,0,0,0.08);
    overflow: auto;
    border: 3px solid #4DCBD2;
    box-sizing: border-box;
    border-radius: 50px;
}

.profile-photo {
    display: block;
	width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
}

.profile-info {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: #E0E0E0;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0.5em;
    background-color: #E0E0E0;
}

p {
    background-color: #E0E0E0;
}

.user-posts-box {
    font-family: 'Oxygen', sans-serif;
    display: block;
	width: 50%;
	height: 100%;
	padding: 20px;
    margin: 50px;
	background-color: #E0E0E0;
	box-shadow: 0 0 50px rgba(0,0,0,0.08);
    overflow: auto;
    border: 3px solid #4DCBD2;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: left;
}

.box-title {
    font-size: 1.5rem;
}

.posts {
    font-family: 'Oxygen', sans-serif;
    display: block;
	width: 90%;
	height: 100%;
	padding: 20px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
	background-color: #E0E0E0;
    overflow: auto;
    border: 1px solid rgb(61, 64, 65);
    box-sizing: border-box;
    border-radius: 30px;
    text-overflow: clip;
}

.stats-box {
    font-family: 'Oxygen', sans-serif;
    display: block;
	width: 40%;
	height: 100%;
	padding: 20px;
    margin: 50px;
	background-color: #E0E0E0;
	box-shadow: 0 0 50px rgba(0,0,0,0.08);
    overflow: auto;
    border: 3px solid #4DCBD2;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: left;
    float:right;
    position: relative;
}